body {
    background: lightslategray;
}
#game-area {
    background-color:white;
    margin: 20px auto; 
    overflow: auto;
    padding: 25px;
    width: 50%;
}
.jumbotron {
    text-align: center;
}
button {
    margin: 0 auto;
}
#questions {
    text-align: center;
}
#answers {
    text-align: center;
}
#time {
    text-align: center;
}
footer {
    text-align: center;
}
#timer {
    text-align: center;
}